@import url('https://fonts.googleapis.com/css?family=Sancreek');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade');
@import url('https://fonts.googleapis.com/css?family=Rubik+Glitch');

h1 {
  font-size: 65px;
  font-family: "Sancreek";
}

body {
display: inline-block;
  vertical-align: top;
}

h2 {
  font-size: 31px;
  font-family: "Special Elite";
}

.default {
  font-size: 39px;
  font-family: 'Jim Nightshade';
}

.text-container .hover {
  display: none;
}

.text-container:hover .default {
  display: none;
}

.text-container:hover .hover {
  display: inline-block;
  font-family: "Rubik Glitch";
  color: maroon;
  content:("RUN. Survive. Hide. Make it out alive.");
  font-size: 28px;
}

.loading {
    width: 1100px;
    padding: 105px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.loading:hover {
    width: 810px;
    padding: 105px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    content: url("DemonologyWatcherIcon.jpg");
}